<h2 class="titleHeader">
  <mat-icon svgIcon="cloudup"></mat-icon>
  <div>Proxies</div>
  <mat-icon svgIcon="cloudup"></mat-icon>
</h2>

<div class="toggle-container d-flex align-items-center justify-content-center mt-4">
  <button
          [class.active]="showProxyList"
          (click)="showProxyList = true">
    Proxy List
  </button>
  <button
          [class.active]="!showProxyList"
          (click)="showProxyList = false">
    Add Proxies
  </button>
</div>

@if (showProxyList) {
  @if (showNoProxiesMessage) {
    <div class="empty-state d-flex flex-column align-items-center justify-content-center mt-5 p-4">
      <span class="text-center">
        No proxies found. Start by
        <a class="link" href="" (click)="showProxyList = false">adding proxies</a>
      </span>
    </div>
  } @else {
    <app-proxy-list
      (showAddProxiesMessage)="showNoProxiesMessage = $event">
    </app-proxy-list>
  }
} @else {
  <app-add-proxies (showAddProxiesMessage)="showNoProxiesMessage = $event"></app-add-proxies>
}
