<h2 class="titleHeader">
  <mat-icon svgIcon="cloudup"></mat-icon>
  <div>Proxies</div>
</h2>

<div class="toggle-container d-flex align-items-center justify-content-center mt-4">
  <button
          [class.active]="showProxyList"
          (click)="showProxyList = true">
    Proxy List
  </button>
  <button
          [class.active]="!showProxyList"
          (click)="showProxyList = false">
    Add Proxies
  </button>
</div>

@if (showProxyList) {
  <app-proxy-list></app-proxy-list>
} @else {
  <app-add-proxies></app-add-proxies>
}
