<div class="popup-overlay">
  <div class="popup-content">
    <app-star-background></app-star-background>
    <div *ngIf="status == 'processing'" class="message-container">
      <div [@textAnimation]="textState" class="message">
        {{ currentMessage }}
      </div>
    </div>

    <div *ngIf="status === 'success'" class="result-message success">
      Successfully added <br>{{ count }} {{ item }}
    </div>

    <div *ngIf="status === 'error'" class="result-message error">
      Something went wrong while adding the {{ item }} <br>Please try again
    </div>
  </div>
  <button *ngIf="status !== 'processing'" class="close-button" (click)="onClose()">Close</button>
</div>
