<div class="content-container checker-judges">
  <h4 class="text-center subText mb-4 mt-0">Judge URLs and Regex</h4>
  @for (judge of judgeControls; track judge; let i = $index) {
    <div [formGroup]="judge" class="form-row grid grid-cols-3 gap-4">
      <div class="form-group">
        <label for="judge-url-{{ i }}">URL</label>
        <input id="judge-url-{{ i }}" formControlName="url" type="text" pInputText class="w-full" />
      </div>
      <div class="form-group">
        <label for="judge-regex-{{ i }}">
          Regex
          <app-tooltip
            [text]="'If the regex is set to default, the program will validate the request based on the headers, which are used to determine whether a proxy is anonymous. If a custom regex is provided instead, the program will search for that pattern in the response and use it to decide whether the request was valid.'">
          </app-tooltip>
        </label>
        <input id="judge-regex-{{ i }}" formControlName="regex" type="text" pInputText class="w-full" />
      </div>
      <button type="button" class="btn-remove mt-4" (click)="removeJudge(i)">
        <i class="pi pi-trash"></i>
      </button>
    </div>
  }
  <button type="button" class="btn-add mt-2" (click)="addJudge()">
    <i class="pi pi-plus"></i> Add Judge
  </button>
</div>

<div class="flex justify-center mt-4">
  <p-button
    type="button"
    label="Save Judges"
    (onClick)="onSubmit()"
    [disabled]="!judgesForm.dirty"
    class="button-padding">
  </p-button>
</div>
