<h2 mat-dialog-title>Export Proxies</h2>
<mat-dialog-content>
  <mat-radio-group [(ngModel)]="exportOption">
    <div class="row">
      <div class="col text-center">
        <mat-radio-button value="all">All Proxies</mat-radio-button>
      </div>
      <div class="col text-center">
        <mat-radio-button value="selected">Selected Proxies</mat-radio-button>
      </div>
    </div>
  </mat-radio-group>

  <form [formGroup]="exportForm">
    <mat-divider></mat-divider>

    <div class="d-flex align-items-center justify-content-center mt-4 mb-4">
      <app-checkbox label="Filter Proxies" formControlName="filter"></app-checkbox>
    </div>

    <div *ngIf="exportForm.get('filter')?.value">
      <div class="row mb-3">
        <div class="col text-center checkbox-container">
          <app-checkbox label="HTTP" formControlName="HTTPProtocol"></app-checkbox>
        </div>
        <div class="col text-center checkbox-container">
          <app-checkbox label="HTTPS" formControlName="HTTPSProtocol"></app-checkbox>
        </div>
        <div class="col text-center checkbox-container">
          <app-checkbox label="SOCKS4" formControlName="SOCKS4Protocol"></app-checkbox>
        </div>
        <div class="col text-center checkbox-container">
          <app-checkbox label="SOCKS5" formControlName="SOCKS5Protocol"></app-checkbox>
        </div>
      </div>

      <div class="row"></div>

      <div class="row mt-4">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Max Retries</mat-label>
          <input id="retries" matInput formControlName="Retries" type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Max Timeout (ms)</mat-label>
          <input id="timeout" matInput formControlName="Timeout" type="number" />
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- New select field for proxy status -->
    <mat-form-field appearance="outline" class="w-100" style="margin-top: 1rem;">
      <mat-label>Proxy Status</mat-label>
      <mat-select formControlName="proxyStatus">
        <mat-option value="all">All Proxies</mat-option>
        <mat-option value="alive">Only Alive Proxies</mat-option>
        <mat-option value="dead">Only Dead Proxies</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="margin-top: 1rem;">
      <div style="margin-bottom: 2rem; display: flex; justify-content: center; flex-wrap: wrap;">
        <button *ngFor="let text of predefinedFilters" mat-raised-button class="m-1"
                (click)="addToFilter(text)">
          {{ text }}
        </button>
      </div>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Output Format</mat-label>
        <input matInput formControlName="output" type="text" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button (click)="onCancel()" class="dialog-cancel">Cancel</button>
  <button (click)="onExport()" class="dialog-ok">Export</button>
</mat-dialog-actions>
