<div class="p-fluid p-4  text-gray-200 rounded-lg shadow-xl">
  <div class="mb-6">
    <p-fieldset legend="Export Option" styleClass="!border-none">
      <div class="flex justify-center gap-8">
        <div class="flex items-center">
          <p-radioButton
            name="exportOption"
            value="all"
            [(ngModel)]="exportOption"
            inputId="exportAll"
          ></p-radioButton>
          <label for="exportAll" class="ml-2 text-lg">All Proxies</label>
        </div>
        <div class="flex items-center">
          <p-radioButton
            name="exportOption"
            value="selected"
            [(ngModel)]="exportOption"
            inputId="exportSelected"
            [disabled]="!selectedProxies.length"
          ></p-radioButton>
          <label for="exportSelected" class="ml-2 text-lg" [class.text-gray-500]="!selectedProxies.length" [class.cursor-not-allowed]="!selectedProxies.length">Selected Proxies</label>
        </div>
      </div>
    </p-fieldset>
  </div>

  <form [formGroup]="exportForm" class="space-y-6">
    <p-divider></p-divider>

    <div class="flex items-center justify-center mt-4 mb-4">
      <app-checkbox label="Filter Proxies" formControlName="filter"></app-checkbox>
    </div>

    @if (exportForm.get('filter')?.value) {
      <div class="space-y-4">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-3">
          <div class="flex items-center justify-center">
            <app-checkbox label="HTTP" formControlName="HTTPProtocol"></app-checkbox>
          </div>
          <div class="flex items-center justify-center">
            <app-checkbox label="HTTPS" formControlName="HTTPSProtocol"></app-checkbox>
          </div>
          <div class="flex items-center justify-center">
            <app-checkbox label="SOCKS4" formControlName="SOCKS4Protocol"></app-checkbox>
          </div>
          <div class="flex items-center justify-center">
            <app-checkbox label="SOCKS5" formControlName="SOCKS5Protocol"></app-checkbox>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <div class="p-field">
            <label for="retries" class="block mb-2 text-sm font-medium text-gray-300">Max Retries</label>
            <p-inputNumber
              id="retries"
              formControlName="Retries"
              mode="decimal"
              [showButtons]="true"
              [min]="0"
              inputStyleClass="w-full bg-gray-700 text-white border-gray-600 focus:border-blue-500"
            ></p-inputNumber>
          </div>
          <div class="p-field">
            <label for="timeout" class="block mb-2 text-sm font-medium text-gray-300">Max Timeout (ms)</label>
            <p-inputNumber
              id="timeout"
              formControlName="Timeout"
              mode="decimal"
              [showButtons]="true"
              [min]="0"
              inputStyleClass="w-full bg-gray-700 text-white border-gray-600 focus:border-blue-500"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    }

    <p-divider></p-divider>

    <!-- New select field for proxy status -->
    <div class="p-field mt-4">
      <label for="proxyStatus" class="block mb-2 text-sm font-medium text-gray-300">Proxy Status</label>
      <p-select
        id="proxyStatus"
        formControlName="proxyStatus"
        [options]="proxyStatusOptions"
        optionLabel="label"
        optionValue="value"
        class="w-full"
        panelStyleClass="bg-gray-700 text-white"
      ></p-select>
    </div>

    <div class="mt-4">
      <div class="flex justify-center flex-wrap gap-2 mb-6">
        @for (text of predefinedFilters; track text) {
          <p-button
            [label]="text"
            styleClass="p-button-outlined p-button-secondary p-button-sm"
            (onClick)="addToFilter(text)"
          ></p-button>
        }
      </div>

      <div class="p-field">
        <label for="outputFormat" class="block mb-2 text-sm font-medium text-gray-300">Output Format</label>
        <input
          id="outputFormat"
          pInputText
          formControlName="output"
          type="text"
          class="w-full p-2.5 bg-gray-700 text-white border border-gray-600 rounded-md focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
        />
      </div>
    </div>
  </form>

  <div class="flex justify-center gap-4 mt-8">
    <p-button
      label="Cancel"
      styleClass="p-button-secondary p-button-text"
      (onClick)="onCancel()"
    ></p-button>
    <p-button
      label="Export"
      styleClass="p-button-success"
      (onClick)="onExport()"
    ></p-button>
  </div>
</div>
