$iconWidth: 15px;

.info-icon {
  color: rgb(171, 171, 171);
  font-size: $iconWidth;
  width: $iconWidth;
  height: $iconWidth;
  margin-left: 0.5rem;
  cursor: pointer; // optional, makes it look more interactive
}
