<h2 class="titleHeader">
  <mat-icon svgIcon="person"></mat-icon>
  <div>Account</div>
</h2>


<div class="content-container">
  <h3 class="text-center mt-0">Change Password</h3>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3">
    <mat-form-field appearance="outline">
      <mat-label>Current password</mat-label>
      <input matInput formControlName="oldPassword" type="password" />
      @if (passwordForm.get('oldPassword')?.hasError('required')) {
        <mat-error>
          Current password is required
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" type="password" />
      @if (passwordForm.get('newPassword')?.hasError('required')) {
        <mat-error>
          New password is required
        </mat-error>
      }
      @if (passwordForm.get('newPassword')?.hasError('minlength')) {
        <mat-error>
          Minimum length is 8 characters
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat new password</mat-label>
      <input matInput formControlName="newPasswordCheck" type="password" />
      @if (passwordForm.hasError('passwordsMismatch') && passwordForm.get('newPasswordCheck')?.touched) {
        <mat-error>
          Passwords do not match
        </mat-error>
      }
    </mat-form-field>

    <button type="submit" class="align-self-center" [disabled]="passwordForm.invalid">
      Save password
    </button>
  </form>
</div>
