$logo-color: #348566;

body {
  background-color: #171717;
  color: rgb(171, 171, 171);
}

.form-row {
  display: flex;
  align-items: center;
}

.btn-add, .btn-remove {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 auto;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}


.btn-add {
  margin-top: 1rem;
  color: $logo-color;
  border-color: $logo-color;
}

.btn-remove {
  padding: 0.3rem;
  color: #ff5252;
  border-color: #ff5252;
}
