@if (!hasLoaded) {
  <app-loading class="toggle-container d-flex align-items-center justify-content-center mt-5"></app-loading>
} @else {
  <div class="proxy-container">
    <!-- Delete Button -->
    <div class="actions" style="margin-bottom: 1rem;">
      <button mat-raised-button color="warn" (click)="deleteSelectedProxies()"
              [disabled]="!selection.hasValue()">
        Delete Selected
      </button>

      <button mat-raised-button color="primary" (click)="openExportDialog()"
              [disabled]="!dataSource.data.length" style="margin-left: 1rem;">
        Export Proxies
      </button>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="proxy-table">
      <!-- Selection Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let proxy">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? toggleSelection(proxy) : null"
                        [checked]="selection.isSelected(proxy)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="alive">
        <mat-header-cell *matHeaderCellDef mat-sort-header start>Status</mat-header-cell>
        <mat-cell *matCellDef="let proxy">
          <div class="status-dot" [class.alive]="proxy.alive" [class.dead]="!proxy.alive"></div>
        </mat-cell>
      </ng-container>

      <!-- IP Column -->
      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.ip }}</mat-cell>
      </ng-container>

      <!-- Port Column -->
      <ng-container matColumnDef="port">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.port }}</mat-cell>
      </ng-container>

      <!-- Response Time Column -->
      <ng-container matColumnDef="response_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Response Time</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.response_time }} ms</mat-cell>
      </ng-container>

      <!-- Estimated Type Column -->
      <ng-container matColumnDef="estimated_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Type</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.estimated_type }}</mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.country }}</mat-cell>
      </ng-container>

      <!-- Protocol Column -->
      <ng-container matColumnDef="protocol">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Protocol</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.protocol }}</mat-cell>
      </ng-container>

      <!-- Last Check Column -->
      <ng-container matColumnDef="latest_check">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Check</mat-header-cell>
        <mat-cell *matCellDef="let proxy">{{ proxy.latest_check | date:'short' }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleSelection(row)"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalItems"
                   [pageSize]="40"
                   [pageIndex]="page - 1"
                   (page)="onPageChange($event)"
                   class="custom-paginator">
    </mat-paginator>
  </div>
}
