<div class="content-container" [formGroup]="settingsForm">
  <div class="checker-settings">
    <h3 class="text-center subText mb-8 mt-0">Protocols</h3>
    <div class="flex justify-center flex-wrap gap-6 mb-8">
      <app-checkbox label="HTTP" formControlName="HTTPProtocol"></app-checkbox>
      <app-checkbox label="HTTPS" formControlName="HTTPSProtocol"></app-checkbox>
      <app-checkbox label="SOCKS4" formControlName="SOCKS4Protocol"></app-checkbox>
      <app-checkbox label="SOCKS5" formControlName="SOCKS5Protocol"></app-checkbox>
    </div>

    <p-divider></p-divider>

    <div class="form-row grid grid-cols-2 gap-4">
      <div class="form-group">
        <label for="retries">Retries</label>
        <input id="retries" formControlName="Retries" type="number" pInputText class="w-full" />
      </div>
      <div class="form-group">
        <label for="timeout">Timeout (ms)</label>
        <input id="timeout" formControlName="Timeout" type="number" pInputText class="w-full" />
      </div>
    </div>

    <p-divider></p-divider>

    <div class="row mb-3 mt-10">
      <div class="col text-center checkbox-container">
        <app-checkbox label="Use HTTPS for SOCKS" formControlName="UseHttpsForSocks"></app-checkbox>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mt-4">
  <p-button
    type="button"
    label="Save Settings"
    (onClick)="onSubmit()"
    [disabled]="!settingsForm.dirty"
    class="button-padding">
  </p-button>
</div>
