@use '@angular/material' as mat;

$frontend-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
}

@import 'bootstrap/scss/bootstrap';

// Override Bootstrap's heading sizes
h1, h2, h3, h4, h5, h6 {
  font-size: revert;  // Use the browser's default size
  font-weight: revert; // Reset font weight if necessary
  //line-height: revert; // Reset line-height
  margin: revert;      // Reset margin if desired
}


body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;

  overflow-x: hidden;
}

mat-icon {
  margin-left: 3rem;
  margin-right: 1rem;
  height: 30px !important;
}

mat-icon + span {
  margin-bottom: 100px;
}

.titleHeader {
  display: flex;
  align-items: center;
}

.titleHeader mat-icon {
  margin-bottom: 0.4rem;
}
