$logo-color: #348566;
$text-color: rgb(171, 171, 171);
$navbar-background: #171717;
$personColor: #ffffff;
$border-color: rgba(255, 255, 255, 0.2);
$darker-background: #cococo;

@use '@angular/material' as mat;
@include mat.core();


:root {
  @include mat.tabs-overrides((
    active-indicator-color: #ffffff,
    inactive-ripple-color: #b3b3b3,
    active-ripple-color: #b3b3b3,
    label-text-weight: 550,
    container-height: 45px,
    active-label-text-color: rgb(171, 171, 171),
    inactive-label-text-color: rgb(171, 171, 171),
  ));
  @include mat.table-overrides((
    row-item-outline-color: #e8e8e8,
    header-headline-color: #e8e8e8,
    row-item-label-text-color: #e8e8e8,
  ));
  @include mat.select-overrides((
    panel-background-color: #202020,
  ));
  @include mat.snack-bar-overrides((
    container-shape: 10px,
    container-color: #5e5e5e,
    supporting-text-color: #e8e8e8,
  ));
  @include mat.dialog-overrides((
    container-color: #171717,
    subhead-size: 1.25rem,
    subhead-weight: bold,
    subhead-color: rgb(246, 246, 246),
    supporting-text-color: rgb(229, 229, 229)
  ));
  @include mat.tooltip-overrides((
    container-color: #2d2d2d,
    supporting-text-color: #ffffff,
    container-shape: 6px,
  ));
  @include mat.menu-overrides((
    item-hover-state-layer-color: #545454
  ));
  @include mat.checkbox-overrides((
    label-text-color: #b8b8b8,
    selected-icon-color: $darker-background,
    unselected-icon-color: $darker-background,
    selected-checkmark-color: $logo-color,
  ));
  --mdc-outlined-text-field-outline-color: #b8b8b8; // Input border
  --mdc-outlined-text-field-label-text-color: #ededed; //Input label color
}

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$green-palette: (
  50:  #e3f2ec,
  100: #b8ddd1,
  200: #8cc8b5,
  300: #61b399,
  400: #4a9d83,
  500: #348566, // base logo color
  600: #2e755a,
  700: #27634d,
  800: #205241,
  900: #183e31,
  A100: #a8f5d5,
  A200: #5aeab2,
  A400: #20d998,
  A700: #0bbf80,
  contrast: (
    50:  $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


