.background-color {
  height: 100vh;
  background-color: #171717;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  position: relative;
}

.auth-logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  text-decoration: none;
  animation: float 3s ease-in-out infinite;
  position: relative;

  img {
    height: 80px;
    margin-right: 1.5rem;
    filter: drop-shadow(0 0 10px rgba(78, 208, 158, 0.5));
  }

  h5 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgba(78, 208, 158, 0.5);
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.auth-card {
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 128, 0.2);
  color: #fff;
}

mat-form-field {
  width: 100%;
}

button[mat-raised-button]  {
  width: 100%;
  margin-top: 20px;
  height: 3rem;
  border-radius: 50px;
}

.switch-link {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #00ff80;
  text-decoration: none;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label {
  color: #ffffff !important;
}

.mdc-text-field--outlined .mat-mdc-notch-piece {
  border-color: #ffffff !important;
}
