/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1E1E1E; /* Generic background color */
  margin: 0;
  font-family: Arial, sans-serif;

  overflow-x: hidden;

}
