<div class="popup-overlay">
  <div class="popup-content">
    <app-star-background></app-star-background>
    @if (status == 'processing') {
      <div class="message-container">
        <div [@textAnimation]="textState" class="message">
          {{ currentMessage }}
        </div>
      </div>
    }

    @if (status === 'success') {
      <div class="result-message success">
        Successfully added <br>{{ count }} {{ item }}
      </div>
    }

    @if (status === 'error') {
      <div class="result-message error">
        Something went wrong while adding the {{ item }} <br>Please try again
      </div>
    }
  </div>
  @if (status !== 'processing') {
    <button class="close-button" (click)="onClose()">Close</button>
  }
</div>
