<div *ngIf="!dashboardInfo?.loaded" class="toggle-container d-flex align-items-center justify-content-center mt-4">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="dashboardInfo?.loaded" class="dashboard-container">
  <div class="flex flex-wrap -m-2">
    <div class="w-full md:w-1/3 p-2">
      <app-kpi-card
        title="Alive Proxies"
        [value]="conversionRate.value"
        [chartValues]="conversionRate.history">
      </app-kpi-card>
    </div>

    <div class="w-full md:w-1/3 p-2">
      <app-kpi-card
        title="Total Proxies"
        [value]="avgOrderValue.value"
        [chartValues]="avgOrderValue.history">
      </app-kpi-card>
    </div>

    <div class="w-full md:w-1/3 p-2">
      <app-kpi-card
        title="Scraped Proxies"
        [value]="orderQuantity.value"
        [displayValue]="orderQuantity.value | number"
        [chartValues]="orderQuantity.history">
      </app-kpi-card>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
    <div class="lg:col-span-2">
      <app-proxies-per-hour-card
        [chartData]="proxiesLineData"
        [chartOptions]="proxiesLineOptions">
      </app-proxies-per-hour-card>
    </div>

    <div class="lg:col-span-1">
      <app-proxy-history-card [history]="proxyHistory"></app-proxy-history-card>
    </div>

    <div class="lg:col-span-2">
      <app-proxies-per-country-card
        [countries]="majorCountries"
        [chartData]="visitorPieData"
        [chartOptions]="pieChartOptions">
      </app-proxies-per-country-card>
    </div>

<!--    <div class="lg:col-span-1">-->
<!--      <app-proxies-by-anonymity-card-->
<!--        [summary]="anonymitySummary"-->
<!--        [segments]="anonymitySegments">-->
<!--      </app-proxies-by-anonymity-card>-->
<!--    </div>-->

    <div class="lg:col-span-1">
      <app-judge-by-percentage-card
        [data]="{
          test1: 220,
          proxyspace: 50,
          'judge.pro': 150,
          test2: 70,
          fdsad: 80,
          ecomm: 110
        }"
        [periodOptions]="['Yearly','Monthly','Weekly']">
      </app-judge-by-percentage-card>

    </div>

  </div>
</div>
